
@{
    ViewBag.Title = "index";
}
<div id="titulo"><h2>Administracion</h2></div>

<div id="usuarios">
    <a href="/Clientes/Create?class=large%20material-icons"><i class="large material-icons">supervisor_account</i></a>
    <a href="/Usuarios/Create?class=large%20material-icons"><i class="large material-icons">account_circle</i></a>

</div>

<div id="clase">

    <a href="http://localhost:57588/Clases/Create?class=large%20material-icons"><i class="large material-icons">assignment_return</i></a>

    <a href="/Calendarios/Create?class=large%20material-icons"><i class="large material-icons">assignment</i></a>
    


</div>

