* {
    font-family: 'Skranji', cursive;
}
#cabezote {
    height: 180px;
    width: 100%;
    background-color: #ff4d4d;
    text-align: center;
    font-size: 60px;
    color: white;
    position: relative;
    top: -33px;
}
#nav {
    height: auto;
    position: relative;
    top: -35px;
}
#titulo {
    text-align: center;
    color: #ff4d4d;
}
footer {
    text-align: center;
    float: none;
    height: auto;
    width: 100%;
    background-color: #ff4d4d;
    font-size: 20px;
    font-family: sans-serif;
}
#contenedor {
    display: inline-block;
    height: 300px;
    text-align: center;
}

#cajas {
    height: 390px;
    text-align: center;
}

#caja1 {
    position: relative;
    top: 50px;
}

#caja2 {
    position: relative;
    top: -170px;
    right: -590px;
}

.iconos {
    text-align: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #999;
    padding: 10%;
    width: 325px;
    height: 220px;
    font-size: 40px;
}


