<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/main.css">
    <link href="~/materialize/css/materialize.min.css" rel="stylesheet">
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/Scripts/main.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Inicio</title>
</head>
<body>
    <header>
        <div id="cabezote">
            <h1>Academia De Baile</h1>
        </div>
        <nav id="nav">

            <div  class="nav-wrapper">
                <a class="btn disabled">Menu</a>
                <ul class="right hide-on-med-and-down">

                    <li><a href="/Home/index"><i class="material-icons">bookmark_border</i></a></li>

                    <li><a href="mobile.html"><i class="material-icons">supervisor_account</i></a></li>

                </ul>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <!--Footer-->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Diseñado Por</h5>
                        <p class="grey-text text-lighten-4">Thomas Caycedo Martinez</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Contactanos</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/Thomascm19">GitHub</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/thomas.caycedomartinez">Facebook</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://twitter.com/thomascaycedo">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright

                </div>
            </div>
        </footer>


    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/materialize/js/materialize.min.js"></script>
</body>
</html>